{#
/**
 * @file nodeshop_order_items.html.twig
 * Theme implementation to present order items.
 *
 * This template is used when viewing a set of order products, e.g. at the
 * checkout page.
 *
 * Available variables:
 * - order: The complete order object.
 *
 */
#}
{% if order %}
    <section{{ attributes.addClass('nodeshop_order_items') }}>
        <h2>{{ 'Your order contains the following items'|trans }} <a href="{{ path('nodeshop.showCart') }}">edit</a></h2>

    {% for item in order.getOrderProducts %}
      {% if 'ausgabe' == item.getType %}
          {% set link_title %}
            {{ item.getTitle }} {{ '(digital issue)' | t }}
          {% endset %}
      {% else %}
          {% set link_title = item.getTitle %}
      {% endif %}

        <p>{{ item.getQuantity }} &times; {{ link_title }} {{ item.getThemedPriceSingle }}</p>
    {% endfor %}

        <h2>{{ 'Your orders total '|trans }}</h2>
        <p>{{ order.getThemedOrderTotal }}<br />{{ 'including taxes of'|trans }} {{ order.getThemedOrderTax }}</p>

    </section>
{% endif %}
