{#
/**
 * @file nodeshop_mail_customer.html.twig
 * Default theme implementation for the customer shop email.
 *
 * Available variables:
 * - order: The NodeShop order object
 *
 * @ingroup themeable
 */
#}
<p>
    {% if 'Frau' in order.getCustomerTitle %}
      <strong>Liebe {{ order.getCustomerTitle }} {{ order.getCustomerFirstName }} {{ order.getCustomerLastName }}</strong>,
    {% elseif 'Herr' in order.getCustomerTitle %}
      <strong>Lieber {{ order.getCustomerTitle }} {{ order.getCustomerFirstName }} {{ order.getCustomerLastName }}</strong>,
    {% else %}
      {% trans %}<strong>Dear {{ order.getCustomerFirstName }} {{ order.getCustomerLastName }}</strong>{% endtrans %},
    {% endif %}
</p>
<p>{% trans %}thanks for your order at {{ shopname }}. {% endtrans %}</p>
<p>{% trans %}In this mail you'll find your order details. {% endtrans %}</p>

<p>
  <strong>{{ 'billing address' | t }}</strong><br />
    {{ order.getCustomerTitel }} {{ order.getCustomerFirstName }} {{ order.getCustomerLastName }}<br />
    {{ order.getCustomerStreet }}<br />
    {% if order.getCustomerStreetAddon %} {{ order.getCustomerStreetAddon }}<br />{% endif %}
    {{ order.getCustomerPostalCode }} {{ order.getCustomerCity }}<br />
    {{ order.getCustomerCountry }}
</p>

{% if order.hasDeliveryAddress %}
<p>
  <strong>{{ 'delivery address' | t }}</strong><br />
    {{ order.getDeliveryTitel }} {{ order.getDeliveryFirstName }} {{ order.getDeliveryLastName }}<br />
    {{ order.getDeliveryStreet }}<br />
    {% if order.getDeliveryStreetAddon %} {{ order.getDeliveryStreetAddon }}<br />{% endif %}
    {{ order.getDeliveryPostalCode }} {{ order.getDeliveryCity }}<br />
    {{ order.getDeliveryCountry }}
</p>
{% endif %}

<p>{{ 'Payment method' | t}}: {{ order.getPaymentMethodLabel | t}}</p>

<table>
    <thead>
        <tr>
            <th>{{ 'Description'|t }}</th>
            <th>{{ 'Count'|t }}</th>
            <th>{{ 'Price'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.getOrderProducts %}
        <tr>
            <td>
              <a href="{{ url('entity.node.canonical', {'node': product.getNodeId }) }} ">{{ product.getTitle }}</a>
              {% if product.getData and product.getData.bonus %}
                  {% if product.getData.bonus.nid and product.getData.bonus.title %}
                      {% set nid = product.getData.bonus.nid %}
                      {% set prefix %}{{ 'bonus: '|t }}{% endset %}
                      {% set title = product.getData.bonus.title %}
                  {% else %}
                      {% set nid = product.getData.bonus %}
                      {% set title %}{{ 'bonus'|t }}{% endset %}
                  {% endif %}
                  <p {{ attributes.addClass('bonus') }}>
                      {{ prefix }}&nbsp;
                      <a href="{{ path('entity.node.canonical', {'node': nid }) }}">
                          {{ title }}
                      </a>
                  </p>
              {% endif %}
            </td>
            <td>{{ product.getQuantity }}</td>
            <td style="text-align:right;">{{ product.getThemedPriceTotal }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align:right;">{{ 'Total'|t }}</td>
            <td style="text-align:right;">{{ order.getThemedOrderTotal }}<br />{{ 'including tax'|t }} {{ order.getThemedOrderTax }}</td>
        </tr>
    </tbody>
</table>



{% if extra_text %}
<p>{{ extra_text | nl2br }}</p>
{% endif %}

{% if signature %}
<p>{{ signature | nl2br }}</p>
{% endif %}
