{#
/**
 * @file palm_edition.html.twig
 * Template for the edition view on closed articles.
 *
 * Available variables:
 * - edition: The content for this block:
 *    - edition.image - The image of the edition
 *    - edition.text_count_summary - An optional text to display
 *    - edition.buttons - Buttons to either buy or login
 *
 */
#}
{% if edition %}
  <div class="block teaser teaser--aktuelle-ausgabe">
    {% if edition.link %}
    <a href="{{ edition.link }}" title="{{ edition.link_title }}">
    {% endif %}
    <div class="image">
      {{ edition.image }}
    </div>
    <div class="inner">
    {% if edition.text_count_summary %}
      <p>{{ edition.text_count_summary }}</p>
    {% endif %}
    {% for button in edition.buttons %}
      {{ button }}<br />
    {% endfor %}
    </div>
    {% if edition.link %}
    </a>
    {% endif %}
  </div>
{% endif %}
