<header id="header">
    <div class="page-wrapper__inner">
        <div class="portal-head" role="banner">
            <div class="portal-logo">
                <a class="logo" title="Zur Startseite" href="/">
                  <img src="/themes/contrib/palm/images/logo_palm.svg" class="palm" alt="{{ 'small logo showing a palm tree' | t }}" />
                  <img src="/themes/contrib/palm/images/logo_blaetter_claim.svg" class="claim" alt="{{ 'image of the claim Blätter' | t }}" />
                  <img src="/themes/contrib/palm/images/logo_tongue.svg" class="tongue" alt="{{ 'image of the claim Blätter für deutsche und internationale Politik' | t }}" />
                </a>
            </div>
            {{ navigation }}
            <div class="scroll-indicator" id="scrollbar"></div>
        </div>
        {{ search }}
        {{ flyout }}
    </div>
</header>
