<div class="block block--promo">
  <div class="promo--background-wrapper">
    <div class="promo--wrapper">
    <a class="promo-close"><i class="fa fa-times"></i></a>
      <a href="{{ promo_banner_link }}" title="{{ promo_banner_claim }}" class="inner grid">
        <h2 class="grid__item one-third {{ promo_banner_theme }}">{{ promo_banner_title }}</h2>
        <p class="grid__item one-third">{{ promo_banner_description | raw }}</p>
        <p class="grid__item one-third">&nbsp;</p>
      </a>
    </div>
    <a href="{{ promo_banner_link }}" title="{{ promo_banner_claim }}" class="promo-arrow">&nbsp;</a>
  </div>
  <a href="{{ promo_banner_link }}" title="{{ promo_banner_claim }}" class="promo-image"><img src="{{ promo_banner_image_url }}" /></a>
</div>
