{#
/**
 * @file
 * Theme override to display the sidebar_first region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="meta">
  {#{ content }#}
  {% if header_promo_button_link %}
  <a href="{{ header_promo_button_link }}" class="button--promo" title="{{ header_promo_button_link_title }}">
      <i class="fa fa-book" aria-hidden="true"></i> {{ header_promo_button_link_title }}
  </a>
  {% endif %}

  {% if logged_in %}
  <a class="portal-head__user" href="/user" title="{{ 'Account' | t }}">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span class="login-state">✓</span>
  </a>
  {% else %}
  <a rel="nofollow" class="portal-head__user" href="{{ path('user.login', {'destination': path('<current>')}) }}" title="{{ 'Account' | t }}">
    <i class="fa fa-user" aria-hidden="true"></i>
  </a>
  {% endif %}
  <a rel="nofollow" class="portal-head__cart" href="{{ path('nodeshop.showCart') }}" title="{{ 'Shopping cart' | t }}">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
  <a class="portal-head__search js-search" href="/search/bing" title="{{ 'search website' | t }}" aria-label="Suche aufklappen">
    <i class="fa fa-search" aria-hidden="true"></i>
  </a>
  <a class="portal-head__hamburger js-hamburger" href="#" title="{{ 'open navigation' | t }}" aria-label="Navigation aufklappen">
    <i class="fa fa-bars hamburger__icon" aria-hidden="true"></i>
  </a>
</div>
