{#
/**
 * @file
 * Theme override to display the sidebar_first region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="meta">
  {#{ content }#}
  <a class="portal-head__user" href="/user" title="{{ 'Account' | t }}">
    <i class="fa fa-user" aria-hidden="true"></i>
  </a>
  <a class="portal-head__cart" href="{{ path('nodeshop.showCart') }}" title="{{ 'Shopping cart' | t }}">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
  <a class="portal-head__searchjs-search" href="/search/bing" title="{{ 'search website' | t }}">
    <i class="fa fa-search" aria-hidden="true"></i>
  </a>
  <a class="portal-head__hamburger js-hamburger" href="#" title="{{ 'open navigation' | t }}">
    <i class="fa fa-bars hamburger__icon" aria-hidden="true"></i>
  </a>
</div>
